<h1>Bem-vindo ao CardsApp!</h1>

<h2>Escolha uma opção</h2>
<p><%= link_to "INSERIR CARD", new_card_path %></p>
<p><%= link_to "PESQUISAR CARD (X)", root_path%></p>
<p><%= link_to "EXCLUIR CARD (X)", root_path%></p>

<h2>Todos os cards: </h2>
<div id="cards">
  <% @cards.each do |card| %>
    <p><%= link_to "#{card.frente} |> #{card.verso}", card %></p>
  <%  end  %>
</div>
